<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src= https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js></script>
    <!-- <script src = https://requirejs.org/docs/release/2.3.5/minified/require.js></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body, style="text-align:center ; margin:auto;">
    <div>
        <h1>Welcome to Sudoku tools!!</h1>
        <button onclick="go_to_solve()", style="margin-bottom:7px;">I want to solve a Sudoku puzzle</button><br>
        <button onclick="go_to_play()">I want to play a Sudoku puzzle</button>
    </div>
</body>
<script src = "static/sudoku.js"></script>
</html>